.container
	padding: 1rem
	max-width: $content-max-width
	margin: auto auto
.layout4x2
	@include makeGrid
.flexbox
	display: flex 
	justify-content: flex-start  
.feature-section
	background-color: green
	color: #f0f0f0
