$desktop-break: $x-large
.bc-site-header
	&__logo
		position: relative
		z-index: 30
		flex: 0 1 11.8%
		max-width: 3.75rem
	&__content
		@include makeContentFlexbox($justify: space-between, $align: center)
		margin-left: auto
		margin-right: auto
	&__contact 
		display: block
		width: 100%
	& &__heading	
		padding-top: $vertical-unit
		border-top: 1px solid $brand-secondary
		font-size: $text-10
		width: 100%
		margin-top: 0
	& &__sub-heading
		font-size: $text-04
		color: $shade-05
	& &__sub-sub-heading
		margin-top: $vertical-unit	
		font-size: $text-03
		color: $white
	a 
		color: $brand-primary
		@include linkHover
			color: $brand-darker
	.bc-main-navigation-toggle
		flex: 0 1 auto
		justify-content: center 
		align-items: center
		margin-right: $gutter/3
		z-index: 30
		&__show, &__hide
			transition: fill 480ms ease-out
		&__show
			display: inherit
			max-width: 	2rem
			max-height: 2rem
		&__hide
			display: none
			max-width: 	1.5rem
			max-height: 1.5rem
	&.is-overlay
			position: absolute
			top: 0
			left: 0
			width: 100%
			z-index: 30
			.bc-main-navigation-toggle
				&__show, &__hide
					fill: white
			.bc-main-navigation-toggle
				.bc-main-navigation-toggle__hide
					fill: black
	&.has-active-navigation
		position: fixed 
		height: 100vh
		overflow: scroll
.bc-main-navigation
	position: absolute
	top: 0
	left: 0
	right: 0
	width: 100%
	visibility: hidden
	opacity: 0
	z-index: -20
	min-height: 100vh
	@include makeContentFlexbox($direction: column, $align: stretch)
	padding: 12vh $gutter/2 0 $gutter/2 
	background-color: $white 
	border-bottom: 2px solid $brand-primary 
	ul, li
		padding: 0	
		margin-right: 0
		margin-top: 0
		margin-bottom: 0
		list-style: none
	li
		> a 
			display: flex
			align-items: center
	& &__main-nav, & &__heading, & &__sub-navigation
		@include makeContentFlexbox($nested: true, $direction: column, $align: stretch)
	& &__main-nav
		flex: 1 0 auto
		background-color: $shade-01
	& &__sub-navigation
		position: static
		flex: 1 0 100%
		display: inherit
		flex-direction: column
		align-items: stretch
		//min-width: calc(100% + #{$gutter})
		
		background-color: $brand-primary
		color: $white
		.bc-main-navigation__item__link
			padding-top: $vertical-unit/4
			color: $white
	& &__links
		flex: 1 0 auto  
		min-width: 100%
		flex-direction: column
		align-items: stretch
		margin-bottom: $gutter
	& &__item
		color: $brand-primary
		justify-content: flex-start
		align-items: stretch
		&__link
			padding: $vertical-unit/2 0
			flex: 1 0 100%
			text-align: left
			border-radius: 0
			border-bottom: 1px solid $brand-primary
			&:hover, &:active, &:focus
				background-color: rgba($brand-primary, 0.2)
		&:last-child
			.bc-main-navigation__item__link
				border-bottom: none
	&-toggle
		display: inherit

.has-active-navigation 
	.bc-main-navigation 
		transition: opacity 400ms ease-out 120ms
		visibility: inherit
		opacity: 1
		z-index: 20
	.bc-main-navigation-toggle
		.bc-main-navigation-toggle__hide
			display: inherit
	.bc-main-navigation-toggle
		.bc-main-navigation-toggle__show
			display: none

@media screen and (max-width: $med - 1) and (orientation: landscape)
	.bc-main-navigation
		min-height: 200vh
		padding-top: 22vh
@media screen and (min-width: $med) and (orientation: portrait)
	.bc-main-navigation
		padding-top: 10vh
@media screen and (min-width: $med)
	.bc-site-header
		& &__heading	
			min-width: 100%
			grid-column: 1 / span 2
		.bc-main-navigation-toggle
			margin-right: $gutter/2
	.bc-main-navigation
		display: grid
		grid-template: auto auto / 61.8% 38.2%
		
		
		& &__main-nav
			
		& &__sub-navigation
			
@media screen and (min-width: $desktop-break)
	.bc-site-header 
		a 
			color: $white
			@include linkHover
				color: $white
	.bc-main-navigation
		display: flex
		align-items: center
		margin-left: $gutter/2
		padding-top: 0
		.bc-site-header__heading, .bc-site-header__sub-heading, .bc-site-header__sub-sub-heading 
			display: none
		&__header
			display: none
		&__links
			display: flex
			flex-direction: row
			align-items: center
		&__item
			display: flex
			justify-content: center
			align-items: center
			&__link
				padding: $vertical-unit/2 $gutter
				border-radius: 1.25rem
				text-align: center
				transition: background-color 320ms ease-out 
				&:active, &:hover, &:focus
					text-decoration: underline
					background-color: rgba($white, 0.40)
		& &__sub-navigation
			position: absolute
			right: 0
			top: 12vh
			display: none
			fkex-direction: column
		
		
	.bc-site-header__contact
		display: none
		

	