.bc-site-header 
	&.is-overlay
		position: absolute
		top: 0
		left: 0
		width: 100%
		z-index: 30
	&__content
		@include contentContainer
		display: flex
		justify-content: flex-start
		align-items: stretch
	&__logo
		position: relative
		z-index: 30
		flex: 0 1 11.8%
		max-width: #{(55px/14px)}rem
.bc-main-navigation
	flex: 0 1 auto 
	display: flex
	flex: 1 1 90% 
	align-items: center
	margin-left: $gutter
	ul, li
		padding: 0	
		margin-right: 0
		margin-top: 0
		margin-bottom: 0
		list-style: none
	
	&__header
		display: none
	&__links
		display: flex
		flex-direction: row
		align-items: center
	&__item
		display: flex
		justify-content: center
		align-items: center
		&__link
			padding: $spacing-unit/2 $gutter
			border-radius: 1.25rem
			text-align: center
			transition: background-color 320ms ease-out 
			&:active, &:hover, &:focus
				text-decoration: underline
				background-color: rgba($white, 0.40)
	
.bc-main-navigation-toggle
	flex: 0 1 8%
	display: none
	justify-content: center 
	align-items: center
	z-index: 30
	li
		list-style: none
		margin: 0
		padding: 0
	> a 
		display: flex
		align-items: center
	svg
		max-width: 	2rem
		max-height: 2rem
	&__show
		display: inherit
	&__hide
		display: none
.bc-site-header__contact
		display: none
	
@media screen and (max-width: 879px)
	.bc-site-header
		&__content
			justify-content: space-between
		&__contact 
			display: block
			&__heading
				margin-top: $gutter*2
	
	.bc-main-navigation
		display: flex
		flex-direction: column
		align-items: flex-start
		margin-left: 0
		padding-top: 12vh
		padding-left: 	$gutter/2
		padding-right: 	$gutter/2
		background-color: $white 
		border-bottom: 2px solid $brand-primary 
		position: absolute
		top: 0
		left: 0
		right: 0
		width: 100%
		z-index: 20 
		& &__header
			display: inherit
			width: 100%
			margin-top: 0
			padding-top: $gutter
			border-top: 1px solid $brand-secondary
		& &__links
			flex: 0 1 auto  
			min-width: 100%
			flex-direction: column
		& &__item
			flex: 0 1 auto 
			min-width: calc(100% + #{$gutter})
			justify-content: flex-start
			margin-left: -$gutter/2
			margin-right: -$gutter/2
			&__link
				min-width: 100%
				padding: $gutter/2 $gutter/2
				display: inline-block
				text-align: left
		&-toggle
			display: inherit
		/* Active state */
.bc-main-navigation 
	&.is-active + .bc-main-navigation-toggle
		.bc-main-navigation-toggle__hide
			display: inherit
	&.is-active + .bc-main-navigation-toggle
		.bc-main-navigation-toggle__show
			display: none
	
	

	