/* Utilities */
.media-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.36); }

.bc-svg-icon {
  max-width: 3rem;
  max-height: 3rem; }

/* Normalize overrides and resets */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

picture {
  display: block; }

img {
  display: block;
  max-width: 100%; }

html {
  font-size: 15px;
  font-family: "Poppins", sans-serif; }

@media screen and (min-width: 600px) {
  html {
    font-size: 16px; } }

@media screen and (min-width: 1200px) {
  html {
    font-size: 18px; } }

@media screen and (min-width: 1400px) {
  html {
    font-size: 20px; } }

body {
  font-size: 100%;
  line-height: 1.5; }

h1, h2, h3, h4, h5 {
  color: #303030;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
  margin-top: 4.5rem;
  margin-bottom: 1.5rem; }

h1 {
  font-size: 2rem;
  color: #017CC0; }

h2 {
  font-size: 1.5874rem; }

h3 {
  font-size: 1.2599rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 1rem; }

p {
  color: #303030;
  line-height: 1.5;
  margin-top: auto;
  margin-bottom: 1.5rem; }

@media screen and (min-width: 768px) {
  .bc-main-navigation__toggle {
    display: none; }
  .bc-main-navigation__list {
    flex-direction: row;
    align-items: center; } }

.container {
  padding: 1rem;
  max-width: 1600px;
  margin: auto auto; }

.layout4x2 {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-template: auto/repeat(1, 100%); }
  @media screen and (min-width: 540px) {
    .layout4x2 {
      grid-template: auto/repeat(2, 1fr); } }
  @media screen and (min-width: 1024px) {
    .layout4x2 {
      grid-template: auto/repeat(4, 1fr); } }

.flexbox {
  display: flex;
  justify-content: flex-start; }

.feature-section {
  background-color: green;
  color: #f0f0f0; }

.bc-hero, .feature-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: calc(100vh); }

/* Hero component */
.bc-hero {
  color: #f0f0f0;
  background-image: url(../media/happy-kid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent; }
  .bc-hero__heading {
    font-size: 3.3636rem; }
  .bc-hero h1, .bc-hero p {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0; }
  .bc-hero__content {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    position: relative;
    z-index: 10;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch; }
    @media screen and (min-width: 1480px) {
      .bc-hero__content {
        max-width: 88%;
        margin-left: auto;
        margin-right: auto; } }
  .bc-hero__body, .bc-hero__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
  .bc-hero__body {
    flex: 1 0 80%; }
  .bc-hero__header, .bc-hero__footer {
    flex: 0 1 10%; }
  .bc-hero__image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.56); }
  .bc-hero__header {
    position: relative;
    display: grid;
    grid-template: auto / 1fr 11fr; }
    .bc-hero__header__logo {
      position: relative;
      z-index: 10; }
    .bc-hero__header__navigation {
      position: absolute;
      top: 0;
      left: -0.75rem;
      right: 0;
      z-index: 0;
      width: calc(100% + 1.5rem);
      height: 100%;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      display: flex;
      align-items: center; }
      .bc-hero__header__navigation a {
        color: #fff;
        text-decoration: none; }
      .bc-hero__header__navigation svg {
        fill: white; }

/* bc-cards */
.bc-card {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: flex-start;
  margin-bottom: 1.5rem; }
  .bc-card__heading {
    flex: 1 1 100%;
    display: flex;
    align-items: flex-end;
    margin-top: 1.5rem; }
  .bc-card__media {
    display: block; }
  .bc-card img {
    width: 100%; }
  .bc-card p {
    flex: 1 1 100%; }
  .bc-card__cta {
    flex: 1 1 100%;
    display: flex;
    justify-content: stretch;
    align-items: flex-end; }

.bc-site-header.is-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30; }

.bc-site-header__content {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch; }
  @media screen and (min-width: 1480px) {
    .bc-site-header__content {
      max-width: 88%;
      margin-left: auto;
      margin-right: auto; } }

.bc-site-header__logo {
  position: relative;
  z-index: 30;
  flex: 0 1 11.8%;
  max-width: 3.92857rem; }

.bc-main-navigation {
  flex: 0 1 auto;
  display: flex;
  flex: 1 1 90%;
  align-items: center;
  margin-left: 1.5rem; }
  .bc-main-navigation ul, .bc-main-navigation li {
    padding: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none; }
  .bc-main-navigation__header {
    display: none; }
  .bc-main-navigation__links {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .bc-main-navigation__item {
    display: flex;
    justify-content: center;
    align-items: center; }
    .bc-main-navigation__item__link {
      padding: 0.75rem 1.5rem;
      border-radius: 1.25rem;
      text-align: center;
      transition: background-color 320ms ease-out; }
      .bc-main-navigation__item__link:active, .bc-main-navigation__item__link:hover, .bc-main-navigation__item__link:focus {
        text-decoration: underline;
        background-color: rgba(255, 255, 255, 0.4); }

.bc-main-navigation-toggle {
  flex: 0 1 8%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 30; }
  .bc-main-navigation-toggle li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .bc-main-navigation-toggle > a {
    display: flex;
    align-items: center; }
  .bc-main-navigation-toggle svg {
    max-width: 2rem;
    max-height: 2rem; }
  .bc-main-navigation-toggle__show {
    display: inherit; }
  .bc-main-navigation-toggle__hide {
    display: none; }

.bc-site-header__contact {
  display: none; }

@media screen and (max-width: 879px) {
  .bc-site-header__content {
    justify-content: space-between; }
  .bc-site-header__contact {
    display: block; }
    .bc-site-header__contact__heading {
      margin-top: 3rem; }
  .bc-main-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    padding-top: 12vh;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: #fff;
    border-bottom: 2px solid #017CC0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 20;
    /* Active state */ }
    .bc-main-navigation .bc-main-navigation__header {
      display: inherit;
      width: 100%;
      margin-top: 0;
      padding-top: 1.5rem;
      border-top: 1px solid #F2EF11; }
    .bc-main-navigation .bc-main-navigation__links {
      flex: 0 1 auto;
      min-width: 100%;
      flex-direction: column; }
    .bc-main-navigation .bc-main-navigation__item {
      flex: 0 1 auto;
      min-width: calc(100% + 1.5rem);
      justify-content: flex-start;
      margin-left: -0.75rem;
      margin-right: -0.75rem; }
      .bc-main-navigation .bc-main-navigation__item__link {
        min-width: 100%;
        padding: 0.75rem 0.75rem;
        display: inline-block;
        text-align: left; }
    .bc-main-navigation-toggle {
      display: inherit; } }

.bc-main-navigation.is-active + .bc-main-navigation-toggle .bc-main-navigation-toggle__hide {
  display: inherit; }

.bc-main-navigation.is-active + .bc-main-navigation-toggle .bc-main-navigation-toggle__show {
  display: none; }

.bc-4-col-feature {
  max-width: 1600px;
  margin: auto auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
  .bc-4-col-feature__header, .bc-4-col-feature__content, .bc-4-col-feature__cta {
    padding-left: 0.75rem;
    padding-right: 0.75rem; }
    @media screen and (min-width: 1480px) {
      .bc-4-col-feature__header, .bc-4-col-feature__content, .bc-4-col-feature__cta {
        max-width: 88%;
        margin-left: auto;
        margin-right: auto; } }
  .bc-4-col-feature__header {
    padding-bottom: 1.5rem; }
    .bc-4-col-feature__header__heading {
      margin-top: auto; }
  .bc-4-col-feature__content {
    display: grid;
    grid-column-gap: 1.5rem;
    grid-template: auto/repeat(1, 100%);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 1.5rem; }
    @media screen and (min-width: 540px) {
      .bc-4-col-feature__content {
        grid-template: auto/repeat(2, 1fr); } }
    @media screen and (min-width: 1024px) {
      .bc-4-col-feature__content {
        grid-template: auto/repeat(4, 1fr); } }
    @media screen and (min-width: 1480px) {
      .bc-4-col-feature__content {
        max-width: 88%;
        margin-left: auto;
        margin-right: auto; } }
  .bc-4-col-feature__cta {
    padding-bottom: 1.5rem; }

.bc-one-col-feature {
  max-width: 1600px;
  margin: auto auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: linear-gradient(to bottom right, #F6F6F6, #E0E0E0); }
  .bc-one-col-feature__content {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    display: grid;
    grid-column-gap: 1.5rem;
    grid-template: auto/repeat(1, 100%); }
    @media screen and (min-width: 1480px) {
      .bc-one-col-feature__content {
        max-width: 88%;
        margin-left: auto;
        margin-right: auto; } }
    .bc-one-col-feature__content__header {
      padding-bottom: 1.5rem; }
    .bc-one-col-feature__content__heading {
      margin-top: auto; }
    .bc-one-col-feature__content__cta {
      padding-bottom: 1.5rem; }
  @media screen and (min-width: 900px) {
    .bc-one-col-feature__content {
      width: 61.8%;
      max-width: 740px;
      margin-left: auto;
      margin-right: auto; } }

.bc-2-col-media-feature {
  max-width: 1600px;
  margin: auto auto;
  padding-top: 6rem;
  padding-bottom: 6rem; }
  .bc-2-col-media-feature__content {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    display: grid;
    grid-column-gap: 1.5rem;
    grid-template: auto/repeat(1, 100%); }
    @media screen and (min-width: 1480px) {
      .bc-2-col-media-feature__content {
        max-width: 88%;
        margin-left: auto;
        margin-right: auto; } }
    @media screen and (min-width: 880px) {
      .bc-2-col-media-feature__content {
        grid-template: auto/repeat(2, 1fr); } }
    @media screen and (min-width: 1024px) {
      .bc-2-col-media-feature__content {
        grid-template: auto/repeat(2, 1fr); } }
    .bc-2-col-media-feature__content__heading > h1 {
      margin-top: 0; }
    .bc-2-col-media-feature__content__media {
      position: relative;
      grid-row-start: 1;
      align-self: start;
      margin-bottom: 1.5rem; }
    .bc-2-col-media-feature__content .play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: #f6f6f6; }
  @media screen and (min-width: 880px) {
    .bc-2-col-media-feature__content {
      grid-template-rows: auto auto; }
      .bc-2-col-media-feature__content__heading {
        grid-column-start: span 2; }
      .bc-2-col-media-feature__content__media {
        grid-row-start: auto; } }

/* Proejct specific */
.bc-4-col-feature, .bc-one-col-feature {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.bc-4-col-feature .bc-card:nth-child(1) .bc-card__heading {
  color: #3B857E; }

.bc-4-col-feature .bc-card:nth-child(2) .bc-card__heading {
  color: #EC1C24; }

.bc-4-col-feature .bc-card:nth-child(3) .bc-card__heading {
  color: #017CC0; }

.bc-4-col-feature .bc-card:nth-child(4) .bc-card__heading {
  color: #CA1622; }

.bc-one-col-feature {
  max-width: 1440px; }

/*# sourceMappingURL=style.css.map */