/* Utilities */
.media-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.36); }

.bc-icon-link {
  display: flex;
  align-items: center; }
  .bc-icon-link .bc-svg-icon {
    max-height: 1.4rem;
    fill: inherit; }
  .bc-icon-link a:hover + .bc-svg-icon, .bc-icon-link a:active + .bc-svg-icon, .bc-icon-link a:focus + .bc-svg-icon {
    fill: #003a5b; }

.bc-svg-icon {
  max-width: 3rem;
  max-height: 3rem; }

.bc-responsive-embed {
  width: 100%;
  position: relative;
  padding-top: 100%;
  transition: opacity 480ms ease-out; }
  .bc-responsive-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .bc-responsive-embed.is-not-loaded {
    opacity: 0; }

@media screen and (min-width: 600px) {
  .bc-responsive-embed {
    padding-top: 56.25%; } }

/* Normalize overrides and resets */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

picture {
  display: block; }

img {
  display: block;
  max-width: 100%; }

html {
  font-size: 15px;
  font-family: "Poppins", sans-serif; }

@media screen and (min-width: 600px) {
  html {
    font-size: 16px; } }

@media screen and (min-width: 1200px) {
  html {
    font-size: 18px; } }

@media screen and (min-width: 1400px) {
  html {
    font-size: 20px; } }

body {
  font-size: 100%;
  line-height: 1.5; }

h1, h2, h3, h4, h5 {
  color: #303030;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem; }

h1 {
  font-size: 2rem;
  font-weight: 300;
  color: #017CC0; }

h2 {
  font-size: 1.5874rem;
  font-weight: 500; }

h3 {
  font-size: 1.2599rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 1rem; }

p {
  color: #303030;
  line-height: 1.5;
  margin-top: auto;
  margin-bottom: 1.5rem; }

a {
  color: #017CC0;
  text-decoration: none; }
  a:active, a:focus, a:hover {
    text-decoration: none;
    color: #003a5b; }

@media screen and (min-width: 768px) {
  .bc-main-navigation__toggle {
    display: none; }
  .bc-main-navigation__list {
    flex-direction: row;
    align-items: center; } }

.container {
  padding: 1rem;
  max-width: 1600px;
  margin: auto auto; }

.layout4x2 {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-template: auto/repeat(1, 100%); }
  @media screen and (min-width: 540px) {
    .layout4x2 {
      grid-template: auto/repeat(2, 1fr); } }
  @media screen and (min-width: 1024px) {
    .layout4x2 {
      grid-template: auto/repeat(4, 1fr); } }

.flexbox {
  display: flex;
  justify-content: flex-start; }

.feature-section {
  background-color: green;
  color: #f0f0f0; }

/* Hero component */
.bc-hero, .bc-hero--inpage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: calc(100vh);
  color: #f0f0f0;
  background-image: url(../media/happy-kid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent; }
  .bc-hero__heading, .bc-hero--inpage__heading {
    font-size: 3.3636rem; }
  .bc-hero h1, .bc-hero p, .bc-hero a, .bc-hero--inpage h1, .bc-hero--inpage p, .bc-hero--inpage a {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0; }
  .bc-hero .bc-icon-link, .bc-hero--inpage .bc-icon-link {
    fill: #fff;
    color: #fff; }
  .bc-hero__content, .bc-hero--inpage__content {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    position: relative;
    z-index: 10;
    flex: 1 1 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch; }
    @media screen and (min-width: 1280px) {
      .bc-hero__content, .bc-hero--inpage__content {
        max-width: 88%;
        margin-left: auto;
        margin-right: auto; } }
  .bc-hero__body, .bc-hero__footer, .bc-hero--inpage__body, .bc-hero--inpage__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
  .bc-hero__body, .bc-hero--inpage__body {
    flex: 1 0 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    position: absolute;
    left: 0;
    bottom: 33.333%;
    transform: translateY(50%); }
    @media screen and (min-width: 1280px) {
      .bc-hero__body, .bc-hero--inpage__body {
        max-width: 88%;
        margin-left: auto;
        margin-right: auto; } }
  .bc-hero__header, .bc-hero__footer, .bc-hero--inpage__header, .bc-hero--inpage__footer {
    flex: 0 1 10%; }
  .bc-hero__image-overlay, .bc-hero--inpage__image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.56); }
  .bc-hero__header, .bc-hero--inpage__header {
    position: relative;
    display: grid;
    grid-template: auto / 1fr 11fr; }
    .bc-hero__header__logo, .bc-hero--inpage__header__logo {
      position: relative;
      z-index: 10; }
  .bc-hero .bc-hero__heading, .bc-hero--inpage .bc-hero__heading, .bc-hero .bc-hero--inpage__heading, .bc-hero--inpage .bc-hero--inpage__heading {
    font-size: 2rem; }

.bc-hero.bc-hero--inpage .bc-hero__body {
  bottom: 1.5rem;
  transform: translateY(0); }

.bc-hero.bc-hero--inpage .bc-hero__image-overlay {
  background-image: linear-gradient(to bottom, rgba(1, 124, 192, 0) 10%, rgba(1, 124, 192, 0.96) 72%); }

@media screen and (min-width: 720px) {
  .bc-hero__body {
    left: 5%; }
    .bc-hero__body__text {
      padding-left: 1.5rem;
      padding-right: 1.5rem; } }

@media screen and (min-width: 768px) and (orientation: portrait) {
  .bc-hero.bc-hero--inpage .bc-hero__body {
    left: 0;
    bottom: 20%;
    transform: translate(0, 50%); } }

@media screen and (min-width: 1024px) {
  .bc-hero.bc-hero--inpage .bc-hero__body {
    max-width: 800px; }
    .bc-hero.bc-hero--inpage .bc-hero__body .bc-hero__body__text {
      padding-left: 0;
      padding-right: 0; } }

@media screen and (min-width: 1280px) {
  .bc-hero.bc-hero--inpage .bc-hero__body {
    left: 0; }
  .bc-hero.bc-hero--inpage .bc-hero__body {
    bottom: 4.5rem;
    max-width: 44.44444rem; } }

/* bc-cards */
.bc-card {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: flex-start;
  margin-bottom: 1.5rem; }
  .bc-card__heading {
    flex: 1 1 100%;
    display: flex;
    align-items: flex-end;
    margin-top: 1.02378rem; }
  .bc-card__media {
    display: block; }
  .bc-card img {
    width: 100%; }
  .bc-card p {
    flex: 1 1 100%; }
  .bc-card__cta {
    flex: 1 1 100%;
    display: flex;
    justify-content: stretch;
    align-items: flex-end; }

.bc-site-header__content {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  @media screen and (min-width: 1280px) {
    .bc-site-header__content {
      max-width: 88%;
      margin-left: auto;
      margin-right: auto; } }

.bc-site-header__logo {
  position: relative;
  z-index: 30;
  flex: 0 1 11.8%;
  max-width: 5.35714rem; }

.bc-site-header.is-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30; }
  .bc-site-header.is-overlay .bc-main-navigation-toggle__show, .bc-site-header.is-overlay .bc-main-navigation-toggle__hide {
    fill: white; }
  .bc-site-header.is-overlay .bc-main-navigation-toggle .bc-main-navigation-toggle__hide {
    fill: black; }

.bc-site-header.has-active-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: scroll; }

@media screen and (min-width: 880px) {
  .bc-site-header a {
    color: #fff; }
    .bc-site-header a:hover, .bc-site-header a:active, .bc-site-header a:focus {
      color: #fff; } }

.bc-main-navigation {
  flex: 0 1 auto;
  display: flex;
  flex: 1 1 90%;
  align-items: center;
  margin-left: 1.5rem; }
  .bc-main-navigation .bc-site-header__heading, .bc-main-navigation .bc-site-header__sub-heading, .bc-main-navigation .bc-site-header__sub-sub-heading {
    display: none; }
  .bc-main-navigation ul, .bc-main-navigation li {
    padding: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none; }
  .bc-main-navigation__header {
    display: none; }
  .bc-main-navigation__links {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .bc-main-navigation__item {
    display: flex;
    justify-content: center;
    align-items: center; }
    .bc-main-navigation__item__link {
      padding: 0.75rem 1.5rem;
      border-radius: 1.25rem;
      text-align: center;
      transition: background-color 320ms ease-out; }
      .bc-main-navigation__item__link:active, .bc-main-navigation__item__link:hover, .bc-main-navigation__item__link:focus {
        text-decoration: underline;
        background-color: rgba(255, 255, 255, 0.4); }
  .bc-main-navigation .bc-main-navigation__sub-navigation {
    display: none; }

.bc-main-navigation-toggle {
  flex: 0 1 12%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 30; }
  .bc-main-navigation-toggle li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .bc-main-navigation-toggle > a {
    display: flex;
    align-items: center; }
  .bc-main-navigation-toggle__show, .bc-main-navigation-toggle__hide {
    transition: fill 480ms ease-out; }
  .bc-main-navigation-toggle__show {
    display: inherit;
    max-width: 2rem;
    max-height: 2rem; }
  .bc-main-navigation-toggle__hide {
    display: none;
    max-width: 1.25rem;
    max-height: 1.25rem; }

.bc-site-header__contact {
  display: none; }

@media screen and (max-width: 879px) {
  .bc-site-header__content {
    justify-content: space-between; }
  .bc-site-header__contact {
    display: block;
    width: 100%; }
  .bc-site-header .bc-site-header__heading, .bc-site-header .bc-site-header__sub-heading, .bc-site-header .bc-site-header__sub-sub-heading {
    display: inherit; }
  .bc-site-header .bc-site-header__heading {
    padding-top: 1.5rem;
    border-top: 1px solid #F2EF11;
    font-size: 2rem;
    width: 100%;
    margin-top: 0; }
  .bc-site-header .bc-site-header__sub-heading {
    font-size: 1.5874rem;
    color: #e0e0e0; }
  .bc-site-header .bc-site-header__sub-sub-heading {
    margin-top: 1.5rem;
    font-size: 1.2599rem;
    color: #fff; }
  .bc-main-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    padding: 12vh 0.75rem 0 0.75rem;
    background-color: #fff;
    border-bottom: 2px solid #017CC0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: -20; }
    .bc-main-navigation .bc-main-navigation__sub-navigation {
      display: inherit;
      min-width: calc(100% + 1.5rem);
      margin-left: -0.75rem;
      margin-right: -0.75rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      background-color: #017CC0;
      color: #fff; }
      .bc-main-navigation .bc-main-navigation__sub-navigation .bc-main-navigation__item__link {
        padding-top: 0.375rem;
        color: #fff; }
    .bc-main-navigation .bc-main-navigation__links {
      flex: 0 1 auto;
      min-width: 100%;
      flex-direction: column;
      margin-bottom: 1.5rem; }
    .bc-main-navigation .bc-main-navigation__item {
      flex: 0 1 auto;
      min-width: calc(100% + 1.5rem);
      justify-content: flex-start;
      margin-left: -0.75rem;
      margin-right: -0.75rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem; }
      .bc-main-navigation .bc-main-navigation__item__link {
        min-width: 100%;
        padding: 0.75rem 0;
        display: inline-block;
        text-align: left;
        border-radius: 0;
        border-bottom: 1px solid #017CC0; }
        .bc-main-navigation .bc-main-navigation__item__link:hover, .bc-main-navigation .bc-main-navigation__item__link:active, .bc-main-navigation .bc-main-navigation__item__link:focus {
          background-color: rgba(1, 124, 192, 0.2); }
      .bc-main-navigation .bc-main-navigation__item:last-child .bc-main-navigation__item__link {
        border-bottom: none; }
    .bc-main-navigation-toggle {
      display: inherit; } }

.has-active-navigation .bc-main-navigation {
  transition: opacity 400ms ease-out 120ms;
  visibility: inherit;
  opacity: 1;
  z-index: 20; }

.has-active-navigation .bc-main-navigation-toggle .bc-main-navigation-toggle__hide {
  display: inherit; }

.has-active-navigation .bc-main-navigation-toggle .bc-main-navigation-toggle__show {
  display: none; }

.bc-4-col-feature {
  max-width: 1600px;
  margin: auto auto;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .bc-4-col-feature__content, .bc-4-col-feature__cta {
    padding-left: 0.75rem;
    padding-right: 0.75rem; }
    @media screen and (min-width: 1280px) {
      .bc-4-col-feature__content, .bc-4-col-feature__cta {
        max-width: 88%;
        margin-left: auto;
        margin-right: auto; } }
  .bc-4-col-feature__header {
    display: grid;
    grid-column-gap: 1.5rem;
    grid-template: auto/repeat(1, 100%);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-bottom: 3rem; }
    @media screen and (min-width: 540px) {
      .bc-4-col-feature__header {
        grid-template: auto/repeat(2, 1fr); } }
    @media screen and (min-width: 1024px) {
      .bc-4-col-feature__header {
        grid-template: auto/repeat(4, 1fr); } }
    @media screen and (min-width: 1280px) {
      .bc-4-col-feature__header {
        max-width: 88%;
        margin-left: auto;
        margin-right: auto; } }
  .bc-4-col-feature__heading {
    margin-top: 0.9rem; }
  .bc-4-col-feature__intro {
    font-size: 1rem;
    margin-bottom: 0;
    max-width: 800px; }
  .bc-4-col-feature__content {
    display: grid;
    grid-column-gap: 1.5rem;
    grid-template: auto/repeat(1, 100%);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 1.5rem; }
    @media screen and (min-width: 540px) {
      .bc-4-col-feature__content {
        grid-template: auto/repeat(2, 1fr); } }
    @media screen and (min-width: 1024px) {
      .bc-4-col-feature__content {
        grid-template: auto/repeat(4, 1fr); } }
    @media screen and (min-width: 1280px) {
      .bc-4-col-feature__content {
        max-width: 88%;
        margin-left: auto;
        margin-right: auto; } }
  .bc-4-col-feature .bc-card__heading {
    font-size: 1.2599rem;
    margin-top: 1.5rem;
    margin-top: 1.12203rem; }
  .bc-4-col-feature__cta {
    padding-bottom: 1.5rem; }

@media screen and (min-width: 540px) {
  .bc-4-col-feature__heading, .bc-4-col-feature__intro {
    grid-column: 1 / span 2; } }

@media screen and (min-width: 1024px) {
  .bc-4-col-feature__heading {
    grid-column: 1 / span 4; }
  .bc-4-col-feature__intro {
    max-width: 800px;
    grid-column: 1 / span 3; } }

.bc-one-col-feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: linear-gradient(to bottom right, #F6F6F6, #E0E0E0); }
  .bc-one-col-feature__content {
    display: grid;
    grid-column-gap: 1.5rem;
    grid-template: auto/repeat(1, 100%);
    padding-left: 0.75rem;
    padding-right: 0.75rem; }
    @media screen and (min-width: 1280px) {
      .bc-one-col-feature__content {
        max-width: 88%;
        margin-left: auto;
        margin-right: auto; } }
    .bc-one-col-feature__content__header {
      padding-bottom: 1.5rem; }
    .bc-one-col-feature__content__heading {
      margin-top: auto; }
    .bc-one-col-feature__content__cta {
      padding-bottom: 1.5rem; }

@media screen and (min-width: 1024px) {
  .bc-one-col-feature__content {
    width: 61.8%;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto; } }

.bc-2-col-media-feature {
  max-width: 1600px;
  margin: auto auto;
  padding-top: 6rem;
  padding-bottom: 6rem; }
  .bc-2-col-media-feature__content {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    display: grid;
    grid-column-gap: 1.5rem;
    grid-template: auto/repeat(1, 100%); }
    @media screen and (min-width: 1280px) {
      .bc-2-col-media-feature__content {
        max-width: 88%;
        margin-left: auto;
        margin-right: auto; } }
    @media screen and (min-width: 880px) {
      .bc-2-col-media-feature__content {
        grid-template: auto/repeat(2, 1fr); } }
    @media screen and (min-width: 1024px) {
      .bc-2-col-media-feature__content {
        grid-template: auto/repeat(2, 1fr); } }
  .bc-2-col-media-feature__heading > h1 {
    margin-top: 0; }
  .bc-2-col-media-feature__media {
    position: relative;
    grid-row-start: 1;
    align-self: start;
    margin-bottom: 1.5rem; }
    .bc-2-col-media-feature__media .play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: #f6f6f6; }
  @media screen and (min-width: 880px) {
    .bc-2-col-media-feature__content {
      grid-template-rows: auto auto; }
      .bc-2-col-media-feature__content__heading {
        grid-column-start: span 2; }
      .bc-2-col-media-feature__content__media {
        grid-row-start: auto; } }

/** * Project specific overrides * **/
/* Site header */
.bc-site-header__logo {
  background-color: #fff;
  border-bottom-left-radius: 2.55rem;
  border-bottom-right-radius: 2.55rem;
  flex-basis: 14%; }

.bc-main-navigation__item__link {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

@media screen and (min-width: 540px) {
  .bc-site-header__logo {
    flex-basis: 12%; }
  .bc-main-navigation-toggle__show {
    max-width: 2.125rem;
    max-height: 2.125rem; } }

@media screen and (min-width: 1024px) {
  .bc-main-navigation__item__link {
    padding-left: 1rem;
    padding-right: 1rem; } }

@media screen and (min-width: 540px) and (orientation: landscape) {
  .bc-site-header__logo {
    flex-basis: 10%; }
  .bc-main-navigation {
    padding-top: 25vh; } }

@media screen and (min-width: 768px) {
  .bc-site-header__logo {
    flex-basis: 10%; }
  .bc-main-navigation {
    padding-top: 0; }
  .bc-main-navigation-toggle__show {
    max-width: 2.5rem;
    max-height: 2.5rem; }
  .bc-main-navigation-toggle__hide {
    max-width: 1.75rem;
    max-height: 1.75rem; } }

@media screen and (min-width: 768px) and (orientation: portrait) {
  .bc-main-navigation {
    padding-top: 11vh; } }

/* Hero feature */
.bc-hero__image-overlay {
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(1, 124, 192, 0.8) 0%, rgba(1, 124, 192, 0.618) 25%, rgba(2, 101, 155, 0.8) 100%); }

.bc-hero__body__text {
  background-color: #017CC0;
  padding: 1.5rem 0.75rem; }
  .bc-hero__body__text__IB {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem; }
    .bc-hero__body__text__IB img {
      flex: 0 1 10%;
      max-width: 10%;
      margin-right: 0.75rem; }
    .bc-hero__body__text__IB p {
      flex: 0 1 auto; }

.bc-hero .bc-hero__heading {
  font-size: 2rem;
  color: #F2EF11;
  border-bottom: 1px solid #F2EF11;
  padding-bottom: 1rem;
  margin-bottom: 1rem; }

.bc-hero .bc-hero__tagline {
  font-size: 1.2599rem; }

.bc-hero.bc-hero--inpage .bc-hero__body__text {
  background-color: transparent; }
  .bc-hero.bc-hero--inpage .bc-hero__body__text p {
    margin-bottom: 0.75rem; }

.bc-hero.bc-hero--inpage .bc-hero__heading {
  padding-bottom: 0;
  margin-bottom: 0.75rem;
  border-bottom: none; }

.bc-hero.bc-hero--inpage .bc-hero__tagline {
  margin-bottom: 0.75rem; }

@media screen and (min-width: 720px) {
  .bc-hero__body__text {
    padding-left: 1.5rem;
    padding-right: 1.5rem; } }

@media screen and (min-width: 1024px) {
  .bc-hero__body__text__IB img {
    max-width: 8%; }
  .bc-hero.bc-hero--inpage .bc-hero__body .bc-hero__body__text {
    padding-left: 0;
    padding-right: 0; } }

@media screen and (min-width: 1366px) {
  .bc-hero__body {
    width: auto;
    left: 33%;
    transform: translate(-33%, 33%); }
  .bc-hero .bc-hero__heading {
    font-size: 2rem; } }

@media screen and (min-width: 1440px) {
  .bc-hero.bc-hero--inpage .bc-hero__body .bc-hero__body__text {
    padding-left: 0;
    padding-right: 0; } }

/* 4-col feature */
.bc-4-col-feature__header {
  margin-bottom: 3rem; }

.bc-4-col-feature__heading {
  margin-bottom: 1.5rem; }

.bc-4-col-feature .bc-card:nth-child(1) .bc-card__heading {
  color: #3B857E; }

.bc-4-col-feature .bc-card:nth-child(2) .bc-card__heading {
  color: #EC1C24; }

.bc-4-col-feature .bc-card:nth-child(3) .bc-card__heading {
  color: #017CC0; }

.bc-4-col-feature .bc-card:nth-child(4) .bc-card__heading {
  color: #CA1622; }

.bc-2-col-media-feature {
  background-image: linear-gradient(to bottom left, #f6921e 0%, #CA1622 61.8%); }
  .bc-2-col-media-feature__heading, .bc-2-col-media-feature__intro, .bc-2-col-media-feature p, .bc-2-col-media-feature .bc-buttom {
    color: #fff; }
  .bc-2-col-media-feature__media {
    border: 2px solid #f6f6f6; }

.bc-one-col-feature {
  background-image: linear-gradient(to bottom right, #f6f6f6, #e0e0e0); }

/*# sourceMappingURL=style.css.map */