$vunit: 1.45rem

//Globals
@import 'framework/project-globals/globals-project' 
@import 'framework/project-globals/mixins-project'
@import 'framework/utilities'
@import 'framework/typography' 

@import 'framework/navigation-schemes'   
@import 'framework/grid' 
@import 'framework/hero' 
@import 'framework/site-header'
@import 'framework/components/bc-feature-component'   
@import 'framework/components/bc-inner-page-header'   
@import 'framework/components/bc-inner-page-content'    

/* Normalize overrides and resets */ 
*
	box-sizing: border-box
body
	margin: 	$body-margin 
	padding: 	$body-padding
picture
	display: block
img
	display: block
	max-width: 100% 

/* bc-cards */
.bc-card, .bc-two-col-card
	display: 				flex  
	flex-direction: column
	align-self: stretch
	justify-content: flex-start 
	margin-bottom: $gutter
	&__heading
		flex: 1 1 100%
		display: flex
		align-items: flex-end 
		@include doFeatureHeading($font-size: $h2) 
	&__media
		display: 		block  
	img
		width: 100%
	p 
		flex: 1 1 100% 
	&__cta  
		flex: 1 1 100%  
		display: flex
		justify-content: stretch
		align-items: flex-end 
	
.bc-two-col-card
	display: grid
	grid-template: auto / 100%
	grid-column-gap: $gutter
	margin-bottom: $vertical-unit * 2
	background-color: $white
	&__body 
		padding: $vertical-unit $gutter /2 
		display: flex
		flex-direction: column		
		justify-content: center
	&__heading, p, .bc-icon-link
		flex: 0 1 auto
		margin-top: 0
		margin-bottom: $vertical-unit/2
	//&__heading
	//	font-size: $text-03
	&:nth-child(1n)
		.bc-two-col-card__heading 
			color: $mid-green 
	&:nth-child(2n)
		.bc-two-col-card__heading
			color: $red
	&:nth-child(3n)
		.bc-two-col-card__heading
			color: $orange
	&:nth-child(4n)
		.bc-two-col-card__heading
			color: $purple
	@media screen and (min-width: 700px)
		grid-template: auto / 0.618fr 0.382fr
		&__image
			picture
				@include mediaContainer
		&:nth-child(odd)
			.bc-two-col-card__body 
				padding-right: 0
		&:nth-child(even)
			grid-template: auto / 0.382fr 0.618fr
			.bc-two-col-card__body 
				grid-column: 2 / span 1
				padding-left: 0
			.bc-two-col-card__image 
				grid-row: 1
				grid-column: 1 / span 1
	
	@media screen and (min-width: $med)
		grid-template: auto / 2fr 1fr
		&:nth-child(odd)
			margin-right: $gutter
		&:nth-child(even)
			margin-left: $gutter
			grid-template: auto / 1fr 2fr
	@media screen and (min-width: $large)
		grid-template: auto / 7fr 3fr
		&:nth-child(odd)
			margin-left: -4.444rem
			.bc-two-col-card__body 
				padding-left: 4.444rem + $gutter
		&:nth-child(even)
			grid-template: auto / 3fr 7fr
			margin-right: -4.444rem
			.bc-two-col-card__body 
				padding-right: 4.444rem + $gutter		

/* Utilities */
.bc-button
	font-weight: 500
	display: inline-flex
	justify-content: space-between
	align-items: center
	background-color: transparent
	color: $brand-primary
	border-radius: 2rem
	border-color: $brand-primary
	.bc-svg-icon
		fill: $brand-primary
	@include linkHover
		background-color: $brand-primary
		color: $white
		.bc-svg-icon
			fill: $white

/* Site header */
.bc-site-header
	&__logo
		background-color: $white
		border-bottom-left-radius: 	2.55rem
		border-bottom-right-radius: 2.55rem
		flex-basis: 14%
.bc-main-navigation
	&__item
		&__link
			padding-left: 	$gutter/2
			padding-right: 	$gutter/2
@media screen and (min-width: $small)
	.bc-site-header
		&__logo
			flex-basis: 12%
	.bc-main-navigation-toggle
		&__show
			max-width: 2.125rem
			max-height: 2.125rem
@media screen and (min-width: $large+1)
	.bc-main-navigation
		&__item
			&__link
				font-size: $text--1
				padding-left: 	$gutter/2
				padding-right: 	$gutter/2
	
@media screen and (min-width: $small) and (orientation: landscape)
	.bc-site-header
		&__logo
			flex-basis: 10%

@media screen and (min-width: $med) 
	.bc-site-header
		&__logo
			flex-basis: 10%
	.bc-main-navigation-toggle
		&__show
			max-width: 	2.5rem
			max-height: 2.5rem
		&__hide
			max-width: 	1.75rem
			max-height: 1.75rem




/* Hero feature */

.bc-hero
	.media-overlay 
		background-color: transparent
		@include gradOverlay('main-hero', $start-colour: rgba($brand-primary, 0.618), $mid-colour: rgba($brand-primary, 0.382), $end-colour: $brand-darker)
	&__body
		&__text
			background-color: $brand-primary
			
			padding: $vertical-unit $gutter/2
			&__IB
				display: flex
				align-items: center
				margin-bottom: $vertical-unit/2
				img
					flex: 0 1 6%  
					max-width: 6%
					margin-right: $gutter/2
				p
					flex: 0 1 auto
	& &__heading
		color: $brand-secondary
		border-bottom: 1px solid $brand-secondary
		padding-bottom: $vertical-unit/1.5
		margin-bottom: $vertical-unit/1.5
	&.bc-hero--inpage
		.bc-hero__body
			&__text
				background-color: transparent
				p 
					margin-bottom: $vertical-unit/2
		.bc-hero__heading
			padding-bottom: 0
			margin-bottom: $vertical-unit/2
			border-bottom: none
		.bc-hero__tagline
			margin-bottom: $vertical-unit/2
		&.has-mid-green-grad
			.media-overlay
			  background-image: linear-gradient(to bottom, rgba($mid-green, 0) 10%, rgba($mid-green, 1) 72%)
			.wave-wrap
				svg
					.isd-wave
						fill: $mid-green
		&.has-brand-grad 
			.wave-wrap
				svg
					.isd-wave
						fill: $brand-primary
			

@media screen and (min-width: 720px)
	.bc-hero
		&__body
			&__text
				padding-left:  	$gutter
				padding-right:  $gutter

@media screen and (min-width: $large)
	.bc-hero
		&.bc-hero--inpage
			.bc-hero__body
				max-width: $text-max-width
/* Feature component */
.bc-feature-component
	/* 4-col feature */
	&.bc-4-col-feature
		position: relative
		.bc-feature-component__content, .bc-feature-component__header
			position: relative
			z-index: 20
		.bc-feature-component__header
			margin-bottom: $vertical-unit * 2
		.bc-feature-component__heading
			margin-bottom: $vertical-unit
		.bc-card:not(.has-image)
			.bc-card__heading 
				padding-bottom: $vertical-unit*0.5
				border-bottom: 2px solid $black
					
		.bc-card:nth-child(1)
			.bc-card__heading 
				color: $mid-green 
				border-bottom-color: $mid-green 
		.bc-card:nth-child(2)
			.bc-card__heading
				color: $red
				border-bottom-color: $red
		.bc-card:nth-child(3)
			.bc-card__heading
				color: $orange
				border-bottom-color: $orange 
		.bc-card:nth-child(4)
			.bc-card__heading
				color: $purple
				border-bottom-color: $purple 

	&.has-high-chroma
		@include makeHighChroma() 
		@include makeWhiteText
		.bc-card:nth-child(1)
			.bc-card__heading 
				color: $white
		.bc-card:nth-child(2)
			.bc-card__heading
				color: $white
				
		.bc-card:nth-child(3)
			.bc-card__heading
				color: $white
				
		.bc-card:nth-child(4)
			.bc-card__heading
				color: $white

@media screen and (min-width: $large)
	.bc-feature-component
		&.bc-4-col-feature
			.bc-feature-component__content
				grid-template: auto / repeat(2, 1fr)
@media screen and (min-width: $x-large)
	.bc-feature-component
		&.bc-4-col-feature
			.bc-feature-component__content
				grid-template: auto / repeat(4, 1fr)

.bc-feature-component
	&.bc-2-col-media-feature
		@include makeHighChroma($start-colour: rgba($orange, 1), $end-colour: $dark-red)
		//background-image: radial-gradient(ellipse at 100% 0%, $orange, $dark-red 80%) 
		@include makeWhiteText
		.bc-2-col-media-feature__media
			border: 2px solid $shade-01
		
.bc-feature-component
	&.bc-one-col-feature
		@include gradOverlay('grey-fill', 'to bottom right')
		&.has-background-svg
			.feature-svg
				position: absolute
				bottom: 0
				left: 50%
				transform: translate(-50%, 0)
		&.has-background-svg--centered
			.feature-svg
				bottom: 50%
				transform: translateX(-50%, -50%)
	
/* CTA feature */
.bc-feature-component
	&.bc-cta-feature
		min-height: 100vh
		@include makeHighChroma() 
		display: flex
		flex-direction: column
		justify-content: center
		
		.bc-feature-component__cta
			align-self: flex-start
			margin-left: 0 
@media screen and (min-width: $large)
	.bc-feature-component
		&.bc-cta-feature
			.bc-feature-component__cta
				margin-left: auto
		
@media screen and (min-width: $large), (min-width: $med) and (orientation: portrait)
	.bc-feature-component
		&.bc-cta-feature
			min-height: 0

/** Index page for presentation */
.bc-feature-component.bc-site-index
	.bc-feature-component__content
		grid-template-columns: 100%
	
.bc-inner-page-header
	position: relative
	padding-top: 		$vertical-unit * 5
	padding-bottom: $vertical-unit * 5.5
	&__bg-svg
		position: absolute 
		top: 50%
		transform: translateY(-50%)
		height: 100%
		width: 50%
		svg
			position: absolute
			top: 50%
			transform: translateY(-50%)
			width: 100%
			max-height: 100%
	&__bg-svg 
		width: 100%
		left: 0
		z-index: 1
		svg
			width: 50%
			left: 0
			fill: $brand-primary
			
@media screen and (min-width: $med)
	.bc-inner-page-header
		&__bg-svg
			width: 50%

/* SVG defs */
.bc-svg-defs
	position: absolute
	height: 0px
	width: 0px
	&__linear-gradient
		&__col-stop1 
			stop-color: $brand-primary
			stop-opacity: 0.618  
		&__col-stop2
			stop-color: darken($brand-darker, 20%)
			stop-opacity: 1
	& .bc-svg-defs__linear-gradient--orange
			.bc-svg-defs__linear-gradient__col-stop1 
				stop-color: $orange
				stop-opacity: 0.618  
			.bc-svg-defs__linear-gradient__col-stop2
				stop-color: darken($dark-red, 20%)
				stop-opacity: 1

.bc-elipses
	position: absolute 
	top: 0
	right: 0
	width: 100%
	height: 100%
	z-index: 1
	display: none
	&__svg
		position: absolute
		width: 	100%
		height: 100%
		opacity: 0.50 
	&__elipse
		fill: url(#linear-gradient) 
		&:nth-of-type(n+1)
			cx: 	88%
			cy:		12%
			r: 		2% 
		&:nth-of-type(n+2)
			cx:		36%
			cy:		16%
			r:  	8%
		&:nth-of-type(n+3)
			cx: 	68%
			cy: 	36%
			r:  	4%
		&:nth-of-type(n+4)
			cx: 	92%
			cy: 	72%
			r:  	12% 
		&:nth-of-type(n+5)
			cx: 	16% 	
			cy: 	56%
			r: 		16% 		
.has-orange-gradient
	.bc-elipses
		&__elipse
			fill: url(#linear-gradient--orange) 
	
@media screen and (min-width: $med)
	.bc-elipses
		display: block
		width: 66.666%
	.bc-feature-component	
		.bc-elipses
			display: block
			width: 80%
	
	

/* Feature component waves */


$waves-height: 50px
/* svg rainbow gradient used in svg image **/
.bc-feature-component
	padding-top: 		calc(#{$vertical-unit} * 2 + (#{$waves-height} / 2))
	padding-bottom: calc(#{$vertical-unit} * 2 + (#{$waves-height} / 2))
	&.bc-2-col-media-feature, &.bc-cta-feature
		padding-top: 		calc(#{$vertical-unit} * 3.5 + (#{$waves-height} / 2))
		padding-bottom: calc(#{$vertical-unit} * 3.5 + (#{$waves-height} / 2))
.has-waves 
	z-index: 10 
	.wave-wrap
		position: absolute
		bottom: -$waves-height
		width: 100%
		height: $waves-height
		svg
			.isd-wave
				fill: $brand-darker
		&__rainbow
			fill: url(#isd-rainbow-grad)
		&__wave
			width: 100%
			height: $waves-height
			fill: $brand-darker
	&--at-top
		.wave-wrap
			&__wave
				transform-origin: 50% 50%
				transform: rotate(180deg)
.bc-hero
	&.has-waves
		.wave-wrap
			svg
				.isd-wave
					fill: $brand-darker
.bc-feature-component
	&.has-waves
		.wave-wrap
			svg
				.isd-wave
					fill: $shade-03
		&.has-high-chroma
			.wave-wrap
			svg
				.isd-wave
					fill: $brand-darker