.bc-4-col-feature
	@include makeSection
	padding-top: 		$gutter
	padding-bottom: $gutter
	&__header, &__content, &__cta
		@include contentContainer
	&__header
		padding-bottom: $gutter
		&__heading
			margin-top: auto
	&__content
		@include makeContentGrid
		padding-bottom: $gutter
	&__cta
		padding-bottom: $gutter
	
		